@import "./variables.scss";

.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: white;
    .car-img {
        margin-top: 20px;
        width: 50vw;
        border-radius: 20px;
    }
    h1{
        font-size: 50px;
        font-weight: bold;   
    }
    h1:hover{
        color: $blue;
    }
    ul{
       font-size: x-large;
       li:first-child{
        font-weight: bold;
        
       }
       li:first-child:hover{
        color: $blue;
        
       }
    }
    .description-box{
        border-radius: 10px;
        padding: 5px;
        background-color: $sky-blue;
        margin-top: 30px;
        margin-bottom: 15px;
        width: 500px;
    }
    .buttons{
        width: 500px;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .del-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        width: 33%;
        color: $white;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s;
        font-size: large;
        font-family: sans-serif;
        background-color: red;
        border: 2px solid black;
        &:hover{
            background-color: darkred;
        }
    }
    
}