@import "./variables.scss";

.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: white;
    .car-img {
        margin-top: 20px;
        width: 50vw;
        border-radius: 20px;
    }
    h1{
        font-size: 50px;
        font-weight: bold;   
    }
    h1:hover{
        color: $blue;
    }
    ul{
       font-size: x-large;
       li:first-child{
        font-weight: bold;
        
       }
       li:first-child:hover{
        color: $blue;
        
       }
    }
    .description-box{
        border-radius: 10px;
        padding: 5px;
        background-color: $sky-blue;
        margin-top: 30px;
        margin-bottom: 15px;
        width: 500px;
    }
}