@import "./variables.scss";

.login-form {
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  .box {
    background-color: $white;
    display: grid;
    place-items: center;
    padding: 48px 16px;
    width: 30%;
    border: 1px solid rgb(182, 185, 187);
    border-radius: $border-radius;
    .header {
      height: 100px;
      width: 100%;
      h2 {
        font-size: 65px;
        font-family: cursive;
      }
    }
    .body {
      display: flex;
      justify-items: start;
      height: 100%;
      width: 100%;
      .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        div > input {
          width: 100%;
        }
      }
    }
  }
}

