@import "./variables.scss";

.register-form {
  background-color: $gray;
  display: flex;
  width: 100%;      
  height: 100%;    
  .box {
    background-color: $sky-blue;
    display: grid;
    margin: auto;
    place-items: center;
    width: 50%;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}
