$white: #fff;
$sky-blue: #87ceeb;
$gray: #8e8e8e;
$blue: #1e90ff;
$item-bg-hover: darken($sky-blue, 5%);
$item-bg-active: darken($sky-blue, 25%);
$border-radius: 25px;
$height: 100%;
$red: #e00d0d;
$green: #0de00d;
